/* imported font */
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* WHOLE SITE STYLE */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    font-size: 1.5rem;
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: 8px;
    background: #688FE5;
}

/* NAVIGATION STYLE */
header {
    background: #252525;
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: white;
    border-radius: 30px;
    font-size: medium;
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: #252525;
    background: #688FE5;
}

#menu-toggle {
    display: none;
}

.menu-close-btn {
    display: none;
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.menu-open-btn {
    display: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

/* HOME STYLE */

.home-section {
    background: #252525;
}

.home-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: white;
    justify-content: space-between;
}

.home-section .home-details .title {
    text-align: center;
    font-size: 3rem;
    color: #688FE5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.home-section .home-details .subtitle {
    text-align: center;
    margin-top: 8px;
    font-size: 1.5rem;
    font-weight: 600;
}

.home-section .home-details .description {
    margin: 24px 0 40px;
    text-align: center;
    font-size: 1.12rem;
}

.home-section .home-details .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section .home-details .button {
    padding: 10px 26px;
    color: #252525;
    border-radius: 30px;
    background: #688FE5;
    font-weight: 500;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.home-section .home-details .button:hover {
    color: white;
    border-color: white;
    background: transparent;
}

/* ABOUT SECTION */
.about-section {
    padding: 120px 0;
    background: #faf4f5;
}

.about-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.about-section .about-image-wrapper .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.about-section .about-details .section-title {
    padding: 0;
}

.about-section .about-details {
    max-width: 50%;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: 1.12rem;
}

/* PRODUCT SECTION */
.product-section {
    color: white;
    background: #252525;
    padding: 50px 0 100px;
}

.product-section .product-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 110px;
    justify-content: space-between;
}

.product-section .product-list .product-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3 - 110px);
    justify-content: space-between;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-section .product-list .product-item:hover {
    transform: translateY(-20px); 
}

.product-section .product-list .product-item .product-image {
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;

}

.product-section .product-list .product-item .name {
    margin: 12px 0;
    font-size: 1.5rem;
    font-weight: 600;
}

/* SERVICES SECTION */
.services-section {
    padding: 60px 0;
    background: #faf4f5;
}

.services-section .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    gap: 30px;
    max-width: 1100px;         
    margin: 0 auto;              
    padding: 0 50px;             
}

.services-section .services-card {
    width: calc(33.333% - 20px); 
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s ease;
}

.services-section .services-card:hover {
    transform: translateY(-20px);
}

.services-section .services-text {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.services-section .services-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}


/* RESPONSIVE MEDIA */
@media screen and (max-width: 1024px) {
    .product-section .product-list {
        gap: 60px;
    }

    .product-section .product-list .product-item {
        width: calc(100% / 3 - 60px);
    }
}

@media screen and (max-width: 900px) {

    /* NAVBAR MENU */
    .menu-open-btn {
        display: block;
    }

    #menu-toggle:checked~.menu-open-btn {
        display: none;
    }

    #menu-toggle:checked~.nav-menu .menu-close-btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.5rem;
        color: #252525;
    }


    #menu-toggle:checked~.nav-menu {
        left: 0;
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100vh;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        transition: left 0.2s ease;
    }

    .navbar .nav-menu .nav-link {
        color: #252525;
        font-size: 1.3rem;
        display: block;
        margin-top: 17px;
    }

    /* HOME SECTION */
    .home-section .section-content {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
    }

    .home-section .home-details :is(.subtitle, .description) .about-section .about-details {
        max-width: 100%;
    }

    /* ABOUT SECTION */
    .about-section .section-content {
        gap: 70px;
        flex-direction: column;
    }

    .about-section .about-image-wrapper .about-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

    /* PRODUCT SECTION */
    .product-section .product-list {
        gap: 30px;
    }

    .product-section .product-list .product-item {
        width: calc(100% / 2 - 30px);
    }

    .product-section .product-list .product-item .product-image {
        max-width: 200px;
    }

    /* SERVICES SECTION */
    .services-section .services-card {
        width: calc(50% - 20px);  
    }
}

@media screen and (max-width: 640px) {
    /* PRODUCT SECTION */
    .product-section .product-list {
        gap: 60px;
    }

    .product-section .product-list .product-item {
        width: 100%;
    }

    /* SERVICES SECTION */
    .services-section .services-card {
        width: 100%;              
    }
}